@model List<TiendaVirtualGuacas.Models.Categoria>

<h2 class="mb-3">Lista de Categorias</h2>

<a class="btn btn-success mb-3" href="/Categoria/Create">+ Nueva Categoria</a>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <td>@cat.Nombre</td>
                <td>@cat.Descripcion</td>
                <td>
                    @if (string.IsNullOrEmpty(cat.Nombre))
                    {
                        <span class="btn btn-warning btn-sm"
                           href="/Categoria/Edit/@cat.Id">Sin nombre</span>
                    }
                    else
                    {
                        <span class="btn btn-danger btn-sm"
                        href="/Producto/Delete/@cat.Id">Activa</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>